body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('the-best-background-for-a-travel-safe-website (3).jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  
}

header {
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}
