body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('pixlr-image-generator-f81b02ac-e8b4-4573-ac10-0b949c4ebd74.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  color: white; /* Set text color to white */
}

header {
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}
